{% extends "layout.html" %}
{% block title %}
Easy Chat Bot
{% endblock %}
{% block headloadscript %}
    <!-- Import element definition and auto-register -->
    <script type="module" src="https://cdn.jsdelivr.net/npm/zero-md@3?register"></script>
    <!-- <script src="https://mozilla.github.io/pdf.js/build/pdf.mjs" type="module"></script> -->
{% endblock %}
{% block content %}
<h1>Chat</h1>

<div class="chatBotArea">
    <div class="chatBubblesContainer" id="chatBubblesContainer"></div>
    <div class="chatUiInputs">
        <textarea class="chatTextbox" id="chatTextBox"></textarea>
        <div class="chatSubmit button" id="chatSubmitBtn">Submit</div>
        <div class="chatClear button danger" id="chatClearBtn">Clear</div>    
    </div>
</div>


{% endblock %}

{% block bottomloadscript %}
<script src="{{ url_for('static', filename='assets/js/chat.js') }}"></script>
{% endblock %}
