<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block title %}Easy Chat Bot{% endblock %}</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>
		{% block headloadscript %}
		{% endblock %}
	</head>
	<body class="is-preload">
		<div class="easyChatBotRoot">
			<div class="easyChatBotMenuBar">
				<h1>Easy Chat Bot</h1>
				<ul>
					{% if user is not none  and  user.is_authenticated %}
					<li><a href="{{ url_for('home') }}">Home</a></li>
					{% endif %}
					<li style="float:right">
						{% if user is not none  and user.is_authenticated %}<a class="active" href="{{ url_for('logout') }}">Logout ({{ user.username }})</a>{% else %}<a class="active" href="{{ url_for('login') }}">Login</a>{% endif %}
					</li>
				</ul>
			</div>
			
			<div class="easyChatBotContent">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		{% block bottomloadscript %}
		{% endblock %}
	</body>
</html>
